<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:allowBackup="false" android:supportsRtl="true" android:label="The Golemancer's Factory" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
</manifest>
